<h1>UTM Campaign Values</h1>

<%= render 'shared/breadcrumb' %>

<% @groups.each do |group| %>
  <% utm_index, utm_values = group.first, group.last %>
  <h2 class="utm-list-header"><%= link_to "utm#{utm_index}", utm_campaign_value_path(utm_index) %></h2>
  <ul class="tag-list">
    <% utm_values.each do |value| %>
      <li><%= value %> <span class="text-nowrap">(<%= link_to "#{value.count} adverts", adverts_by_utm_value_path(value.value) %>)</span></li>
    <% end %>
  </ul>
<% end %>
