<h1><%= link_to utm_campaign_values_path, utm_campaign_values_path %>/utm<%= @index %></h1>
<ul>
  <% @values.each do |value| %>
    <li><%= link_to value, adverts_by_utm_value_path(value.value) %> (<%= value.count %>)</li>
  <% end %>
</ul>