<% show_density ||= false %>

<div class="btn-toolbar">
  <div class="btn-group mr-4" aria-label="Timeline range">
    <%= timeline_range_links %>
  </div>
  <div class="btn-group" aria-label="Show">
    <button class="btn btn-outline" disabled>Show</button>
    <%= render 'shared/dimension_dropdown' %>
  </div>

  <% if show_density %>
    <div class="ml-4 btn-group">
      <%= render 'timeline_density_dropdown' %>
    </div>
  <% end %>
</div>
