<%
  height = options[:height] || :auto
  default_margin = 32
  if height == :auto
    height = values.length * (options[:rowHeight] || 32) +
      (options[:margin_top] || default_margin) * 3
  end
%>

<div class="container">
  <div class="timeline-container row">
    <%# Co-ord system width is always 930 %>
    <svg viewBox="0,0,930,<%= height %>" width="930" height="<%= height %>" class="timeline col col-xs-12">
    </svg>
  </div>
</div>

<script type=application/javascript>
  timeline = new Timeline(<%= values.to_json.html_safe %>, <%= options.to_json.html_safe %>);
  timeline.draw();
</script>
