<div class="iframe-info text-muted font-weight-lighter mt-2">
  <p class="h6">
    Has the ad below not loaded?
  </p>
  <p>
    To see Facebook ads here, use an extension like
    <a href="https://chrome.google.com/webstore/detail/ignore-x-frame-headers/gleekbfjekiniecknbkamfmkohkpodhe">
      Ignore X-Frame Headers
    </a>.
  </p>
</div>

<iframe src="<%= src %>"></iframe>
