@import 'colors';

.a8-code {
  padding: 1em;
  margin-bottom: 0.75em;

  .heading {
    margin-bottom: 0.5em;
  }

  background-color: #fafafa;
  border-radius: 10px;
  border: 1px solid #f1f1f1;

  .tag-list {
    margin-bottom: 0;
  }
}

.ad-code-nav {
  margin-bottom: 1em;
}

.utm0 { background-color: $utm0; }
.utm1 { background-color: $utm1; }
.utm2 { background-color: $utm2; }
.utm3 { background-color: $utm3; }
.utm4 { background-color: $utm4; }
.utm5 { background-color: $utm5; }
.utm6 { background-color: $utm6; }
.utm7 { background-color: $utm7; }
.utm8 { background-color: $utm8; }
.utm9 { background-color: $utm9; }
.utm10 { background-color: $utm10; }
.utm11 { background-color: $utm11; }
.utm12 { background-color: $utm12; }
.utm13 { background-color: $utm13; }
.utm14 { background-color: $utm14; }
.utm15 { background-color: $utm15; }
.utm16 { background-color: $utm16; }
.utm17 { background-color: $utm17; }
.utm18 { background-color: $utm18; }
.utm19 { background-color: $utm19; }
.utm20 { background-color: $utm20; }
.utm21 { background-color: $utm21; }
.utm22 { background-color: $utm22; }

