.ad-code {
  padding: 0.5em 0 1.5em 1em;
  margin-bottom: 0.75em;

  .heading {
    margin-bottom: 0.5em;
  }

  background-color: #fafafa;
  border-radius: 10px;
  border: 3px solid #f1f1f1;

  .tag-list {
    margin-bottom: 0;
  }
}

.ad-code-nav {
  margin-bottom: 1em;
}
