.campaigns {
  &.jumbotron {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .campaign {
    width: 50%;

    .face {
      margin-bottom: 1rem;
      width: 100%;
      min-width: 90px;
    }

    &.campaign-trump {
      .campaign-title {
        color: red;
      }
    }

    &.campaign-biden {
      .campaign-title {
        color: blue;
      }
    }
  }

  .graph {
    background-color: white;
  }

  ul.funding-entities {
    min-height: 7em;
    list-style: none;
    padding: 0;
    font-size: 90%;

    li {
      margin-left: 0;
      margin-right: 0;
    }
  }

}

.analysis-based {
  margin-bottom: 2em;
}
