$wtm-yellow: #ffcd44;

$utm0: #fea4c9;
$utm1: #f3afc2;
$utm2: #ecb6be;
$utm3: #f0b3b2;
$utm4: #f6b8ad;
$utm5: #f9bfa9;
$utm6: #fcc7a6;
$utm7: #fdd0a5;
$utm8: #fed9a5;
$utm9: #fee2a4;
$utm10: #feeca4;
$utm11: #fdf4a5;
$utm12: #f6faa9;
$utm13: #eef8aa;
$utm14: #e2f3af;
$utm15: #d3edb5;
$utm16: #c3e7bb;
$utm17: #bee5c9;
$utm18: #bfe4d6;
$utm19: #c1e2e0;
$utm20: #bddce5;
$utm21: #bcd3e6;
$utm22: #bfcae3;
