@import 'colors';

nav.navbar {
  .nav-link.download-extension {
    background-color: $wtm-yellow;
    color: black;
  }
  
  .nav-link.donate-link {
    background-color: $wtm-red;
    color: white;
  }

  .nav-link.btn.btn-primary {
    color: white;
  }
}

.container-fluid.previews {
  margin: 0; padding: 0;

  .col {
    margin: 0; padding: 0;
    iframe {
      border: 0;
      margin-left: auto;
      height: 1000px;
      width: 100%;
    }
  }
}

.bold {
  font-weight: bold;
}

@media (max-width: 1024px){
  body .container {
    max-width: 100%;
  }
}

#footer {
  background-color: #e9ecef;
    margin-top: 4rem;
    padding: 1rem;
    /* color: white; */
    border-radius: 5px;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 0.8rem;
}
