@import 'colors';

nav.navbar {
  .nav-link.download-extension {
    background-color: $wtm-yellow;
    color: black;
  }
}

.container-fluid.previews {
  margin: 0; padding: 0;

  .col {
    margin: 0; padding: 0;
    iframe {
      border: 0;
      margin-left: auto;
      height: 1000px;
      width: 100%;
    }
  }
}

@media (max-width: 1024px){
  body .container {
    max-width: 100%;
  }
}
