dl {
  columns: 4;
}

dl.values {
  columns: 1;
}

dd {
    break-before: avoid;
}

.tag-list {
  column-count: 5;
  list-style: none;

  li {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;padding: 0;
    font-size: 80%;
  }
}
