@import 'bootstrap';

table {
  td.url {
    overflow: auto;
    max-width: 100px;
    text-overflow: ellipsis;
    padding: 0.75em 0;

    .btn {
      min-width: 6em;
    }
  }
}

thead th {
  top: 0;
  position: sticky;
  z-index: 1;
}

.against {
  thead tr:first-child th:first-child {
    background-color: white;
  }

  th .text-muted {
    font-weight: normal;
  }
}

tbody th[scope=row] {
  background-color: $table-head-bg;
}
