@import 'bootstrap';

.url {
  overflow: auto;
  max-width: 100px;
  text-overflow: ellipsis;
}

thead th {
  top: 0;
  position: sticky;
}

thead tr:first-child th:first-child {
  background-color: white;
}

tbody th[scope=row] {
  background-color: $table-head-bg;
}