.timeline-container {
  position: relative;
  margin-top: 1.5em;

  svg {
    overflow: initial;
    height: 100%;

    background-color: white;

    &.hosts {
      .a8-code-value {
        text.value {
          font-size: 1em;
          transform: translate(-20px, 0); // Hosts' captions can go left
          stroke: none;
          color: #555;
          opacity: 0.5;
        }

        @media (max-width: 1400px){
          text.value {
            transform: translate(80px, 0); // Hosts' captions go right on smaller
          }
        }
      }
    }

    // Ad codes with shorter values can be captioned
    // to the left without sliding offscreen.
    &.utm1 .a8-code-value text.value,
    &.utm6 .a8-code-value text.value,
    &.utm17 .a8-code-value text.value {
      transform: translate(0, 0);
    }

    .a8-code-value {
      .highlight, .value {
        transition-property: opacity, stroke;
        transition-duration: 0.3s;
      }

      rect.highlight {
        fill: yellow;
        opacity: 0;
      }

      text.value {
        opacity: 0.25;
        stroke: none;
        text-anchor: end;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 22px;
        stroke-width: 0;
        fill: black;
        transform: translate(25%, 0);
      }

      line {
        stroke: silver;
      }

      circle.a8-count {
        stroke: #555;
        opacity: 0.9;
      }


      &.active {
        rect.highlight {
          opacity: 0.35;
        }

        text.value {
          stroke-width: 0.5px;
          stroke: white;
          opacity: 1;
        }
      }
    }
  }
}

.tooltip {
  background-color: #fff;
  box-shadow: 0 6px 8px rgba(52, 73, 94, .2), 0 1px 1px rgba(52, 73, 94, 0.1);
  font-family: "Work Sans", sans-serif;
  left: 0;
  opacity: 0;
  padding: 0.5em 1em;
  pointer-events: none;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  top: -12px;
  transition: opacity 0.2s linear, transform 0.2s ease-in-out;
  z-index: 1;
}

.tooltip:before {
  background-color: #fff;
  border-left-color: transparent;
  border-top-color: transparent;
  bottom: 0;
  content: '';
  height: 12px;
  left: 50%;
  position: absolute;
  transform-origin: center center;
  transform: translate(-50%, 50%) rotate(45deg);
  width: 12px;
  z-index: 1;
}

.tooltip-name {
  margin-bottom: 0.2em;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 700;
}

.tooltip-value {
  margin-bottom: 0.2em;
  font-size: 0.8em;
  line-height: 1.4;
  font-weight: 400;
}

